.double-img__ {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin: 0 auto;
  gap: 15%;
  align-items: flex-end;

  img{
    width: 100%;
  }
  .image-one{
    justify-content: flex-end;
  }

  .image-two{
    justify-content: flex-start;
  }
}
