.side-side__ {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin: 0 auto;

  img{
    width: 100%;
  }
  .side-one{
    justify-content: flex-end;
  }

  .side-two{
    justify-content: flex-start;
  }
}

@media screen and (max-width: 64em) {
  .side-side__ {
    width: 100% ;
    gap: 50px ;
    .side-one{
      p{
        text-align: left ;
      }
    }
  }
}

@media screen and (max-width: 48em) {
  .side-side__ {
    grid-template-columns: 1fr;
    width: 80% ;
  }
}
