@import "../../style.scss";

h1 {
  font-size: 45px !important;
}
p,
li {
  font-size: 18px;
}
li {
  font-weight: 500;
}

.paragraph-box {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  border-radius: 500px;
  .inner{
    display: grid;
  }
}

@media screen and (max-width: 64em) {
  h1 {
    font-size: 40px !important;
  }
  p,
  li {
    text-align: center;
  }
  .paragraph-box {
    width: 80% ;
    margin: 0;
    justify-self: center;
  }
}

@media screen and (max-width: 48em) {
  h1 {
    font-size: 30px !important;
  }
  p,
  li {
    font-size: 16px;
  }
  .paragraph-box {
    width: 90% ;
    border-radius: 10px;
  }
}
