.split__ {
  display: grid;
  margin: 0 auto;
}

@media screen and (max-width: 48em) {
  .split__ {
    grid-template-columns: 1fr ;
    gap: 30px ;

    .column1 {
      justify-content: center ;
      width: 100%;
    }
    .column2 {
      justify-content: center ;
      width: 100%;
    }
  }
}
